In [ ]:
!pip install pypyodbc

In [1]:
import pyodbc
import pandas as pd 
#DB connection details
cnxn_str = (
            "Driver={SQL Server};"
            "Server=tcp:servername,1433;"
            "Database=dbname;"
            "UID=<>;" #User ID
            "PWD=<>;" #Password
            "Encrypt=True;"
            "TrustServerCertificate=False;"
            "Connection Timeout=60")

cnxn = pyodbc.connect(cnxn_str)

In [10]:
df1 = pd.read_sql("Select *  from Table", cnxn)

In [12]:
df1.head()

     id  Distance  ModeId
0  6469   46534.0  152998
1  6470   42095.0  152999
2  6471   45290.0  153000
3  6472   28559.0  153001
4  6473   22933.0  153002